NEXT_PUBLIC_API_URL=https://customerapp.bibomart.net/api/mobile/web
NEXT_PUBLIC_API_BASE_URL=https://prod.bibomart.net
NEXT_PUBLIC_API_TOKEN=yuiFbyemq8tYxUoBKo2_plELGG3eB9cNqF6DkGC8n67LC6mwOe7ynhI+QtqKuvGJlZY

NEXT_PUBLIC_API_GRAPHQL_URL=https://api-ecommerce.kidsplaza.io/graphql
NEXT_PUBLIC_API_GRAPHQL_APP_ID=51dbf2026a9b3943984cb8589f6dacf03a562bce14c95484b98f043620cb8b16
NEXT_PUBLIC_API_GRAPHQL_KEY=IdLDYTgb2tzJnAU8XR8a6CwnQFPeVx71TbIuBUv5
