@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* TYPOGRAPHY */
  /* .product-card {
    @apply bg-sky-50;
  } */

  .shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
  }

  .shadow-none,
  .shadow-product-card {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .shadow-product-card {
    --tw-shadow: 2px 2px 8px 0px #8f8f8f40;
    --tw-shadow-colored: 2px 2px 8px 0px var(--tw-shadow-color);
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Nunito, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .product-card-wrapper:hover {
    @apply ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: Nunito, system-ui, sans-serif;
}

body,
input,
textarea,
button {
  background: #fff;
  font-family: var(--na-font-family-sans);
  font-weight: 400;
  font-size: var(--na-font-size-4);
  color: var(--na-color-text-default);
}
body {
  margin: 0;
  scroll-behavior: smooth;
  line-height: var(--na-line-height-3);
  max-width: 100vw;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  margin-bottom: 1rem;
}
hr {
  border-width: 0;
  border-top: 1px solid #ccc;
  height: 0;
  padding: 0;
  margin: 2rem 0;
}
ul,
ol {
  padding-left: 0;
  padding-left: 1rem;
}
li > ul,
li > ol {
  padding-left: 0;
  margin-top: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #134e4a;
  background-clip: padding-box;
  border-radius: 20px;
}
