@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* TYPOGRAPHY */
  /* .product-card {
    @apply bg-sky-50;
  } */

  .shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
  }

  .shadow-none,
  .shadow-product-card {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow);
  }

  .shadow-product-card {
    --tw-shadow: 2px 2px 8px 0px #8f8f8f40;
    --tw-shadow-colored: 2px 2px 8px 0px var(--tw-shadow-color);
  }
}

body,
input,
textarea,
button {
  background: #fff;
  font-family: var(--na-font-family-sans);
  font-weight: 400;
  font-size: var(--na-font-size-4);
  color: var(--na-color-text-default);
}
body {
  margin: 0;
  scroll-behavior: smooth;
  line-height: var(--na-line-height-3);
  max-width: 100vw;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
  margin-bottom: 1rem;
}
hr {
  border-width: 0;
  border-top: 1px solid #ccc;
  height: 0;
  padding: 0;
  margin: 2rem 0;
}
ul,
ol {
  padding-left: 0;
  padding-left: 1rem;
}
li > ul,
li > ol {
  padding-left: 0;
  margin-top: 0;
}
